*{
    box-sizing: :border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';;
}


/* Header and Nav Style Start*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position:-webkit-sticky;
    position: sticky;
    padding: 20px 35px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    font-size: 48px;
}

header nav ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 25px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Header and Nav Style End*/

figure .hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* portfolio projects start */

.project-large {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 50px;
    height: 300px;
    width: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.project-small {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 50px;
    height: 300px;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.project-small img {
    height: auto;
    width: 25%;
    margin-bottom: 20px;
    max-height: 200px;
}

.project-small h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

/* portfolio projects end */
