*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/*CSS variables for color palette*/
:root {
    --base-color: seashell;
    --accent-color: #2a607c;
    --highlight-color:  rgb(190, 156, 98); /* remember work on font color */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}
    
/* Header and Nav Style Start*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:-webkit-sticky;
    position: sticky;
    padding: 20px 35px;
    background-color: var(--accent-color);
    color:var(--base-color);
}

header h1 {
    font-size: 48px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding-top: 25px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-left: 25px;
}

header a {
    color: var(--base-color);
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Header and Nav Style End*/

/* Image Section with Subtitle Style Start */

.hero {
    display: flex;
    position: relative;
}

.subtitle {
    position: absolute;
    font-weight:900;
    font-size: larger;
    align-self: center;
    margin-left: 50px;
    color: var(--highlight-color);
}
/* Image Section with Subtitle Style End  */

/* Main Page Styling Start Used in Multiple Sections on main page*/
.main-page-wrapper {
    margin: 0;
    background-color: seashell;
    display: flex;
}

.titlecolumn {
    flex: 0 0 175px;
}

.titlecolumn h1 {
    font-weight: bolder;
    color: var(--accent-color);
    padding: 20px 35px 100px 35px;
}

.bodycolumn {
    border-left: 5px solid var(--accent-color);
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
    padding: 20px 35px 100px 35px;
    color: var(--accent-color);

}
/* Main Page Styling End Used in Multiple Sections on main page*/

/* About me/ Avatar/ Text Start Style Start */
.bodyavatar img{
    border-radius: 3rem; /*created curved edges*/
    border:2px solid var(--accent-color);
    margin: 10px 10px 10px 10px;
    opacity: 0.7; /*added opacity to soften avatar image*/
}
/* About me/ Avatar/ Text Start Stlye End */

/* Featured Project Category Style Start */
.largeprojects {
    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--accent-color);
}

.largeproject img {
    height: auto;
    width: = 30%;
    margin: 20px 20px 20px 20px;
    max-height: 200px;
    border-radius: 1rem; /*created curved edges*/
}

.largeproject h2 {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    background: var(--base-color);
    max-width: 30%;
}


.largeproject {
    background-color: var(--highlight-color);
    border-radius: 1rem; /*created curved edges*/
    border:2px solid var(--accent-color);
    flex: 3;
}
/* Featured Project Category Style End */

/* Smaller Project Listings Style Start */

.smallprojects {
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.smallproject img {
    height: auto;
    width: 25%;
    margin: 20px 20px 20px 20px;
    max-height: 200px;
    border-radius: 1rem; /*created curved edges*/
    }
    
.smallproject h2 {
        font-size: 10px;
        padding: 5px 5px 5px 5px;
        background: var(--base-color);
        max-width: 40%;
}

.smallproject {
    background-color: var(--highlight-color);
    border-radius: 1rem; /*created curved edges*/
    border:2px solid var(--accent-color);
    margin: 10px;
    flex: 2;
}


/* Smaller Project Listings Style End */

/* Hover text with project details from small and large projects */
.projectdetailbox {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Project Detail Text */
  .projectdetailbox .projectdetailtext {
    visibility: hidden;
    width: 120px;
    background-color:var(--accent-color);
    color: var(--base-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 16px;

   
    /* Position the Project Detail Text to Bottom */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  /* Show the Project Detail text when you mouse over the Project Detail container */
  .projectdetailbox:hover .projectdetailtext {
    visibility: visible;
  }
/* Get In Touch Style Start */
footer li{
    color:var(--accent-color);
    text-decoration-line: underline;
}
/* Get in Touch Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .main-page-wrapper {
      background-color: green;
    /* placeholder if needed looks ok now */
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .main-page-wrapper { 
        background-color: orange;
        /* add projects in one line */
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .main-page-wrapper { 
        background-color: yellow;
    }
    .hero img{
        display:none;
    }
    .hero .subtitle {
        display:none;
    }
    .bodyavatar img{
        display:none;
    }
}


 